<div class="section secondary-section" id="portfolio">
    <div class="triangle"></div>
        <div class="container">
            <div class=" title">
                <h1>PLACES</h1>
            </div>
            <ul class="nav nav-pills" data-proofer-ignore>
                <li class="filter" data-filter="all">
                    <a href="#noAction">All</a>
                </li>
                <li class="filter" data-filter="Kenya">
                    <a href="#noAction">Kenya</a>
                </li>
                <li class="filter" data-filter="Africa">
                    <a href="#noAction">Africa</a>
                </li>
                <li class="filter" data-filter="World">
                    <a href="#noAction">World</a>
                </li>
            </ul>
            <!-- list of visited places -->
            <div id="single-project">
                {% for post in site.posts%}
                <div id="slidingDiv" class="toggleDiv row-fluid single-project">
                    <div class="span6">
                        <img src="{{post.blog-image}}" alt="{{post.title}}" />
                    </div>
                    <div class="span6">
                        <div class="project-description">
                            <div class="project-title clearfix">
                                <h3>{{post.title}}</h3>
                                <span class="show_hide close">
                                    <i class="icon-cancel"></i>
                                </span>
                            </div>
                            <div class="project-info">
                                <p>{{post.intro}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End details for visited places -->
                <ul id="portfolio-grid" class="thumbnails row">
                        {% for post in site.posts limit:3 %}
                    <li class="span4 mix {{post.category}}">
                        <div class="thumbnail">
                            <img src="{{post.blog-image}}" alt="{{post.title}}">
                            <a href="#single-project" class="more show_hide" rel="#slidingDiv">
                                <i class="icon-plus"></i>
                            </a>
                            <h3>{{post.title}}</h3>
                            <p>{{post.intro}}</p>
                            <div class="mask"></div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>
